# Automated ML

TODO: Import Dependencies. In the cell below, import all the dependencies that you will need to complete the project.

In [1]:
from azureml.core import Workspace, Experiment
from azureml.core.compute import ComputeTarget, AmlCompute
from azureml.core.compute_target import ComputeTargetException

## Dataset

### Overview
TODO: In this markdown cell, give an overview of the dataset you are using. Also mention the task you will be performing.

The dataset is extracted from an Udacity's competition called 'Predicting customer satisfaction' It consists of customers data from Santander bank, containing all their relevant features (like the number of products, their name, interest rate of loans, etc). 

TODO: Get data. In the cell below, write code to access the data you will be using in this project. Remember that the dataset needs to be external.

In [2]:
ws = Workspace.from_config()
cluster_name = 'project-cluster'
try:
    compute_target = ComputeTarget(ws, cluster_name)
except ComputeTargetException:
    compute_config = AmlCompute.provisioning_configuration(vm_size='STANDARD_D2_V2', min_nodes=1, max_nodes=4)
    compute_target = ComputeTarget.create(ws, cluster_name, compute_config)

compute_target.wait_for_completion(show_output=True)

Succeeded
AmlCompute wait for completion finished

Minimum number of nodes requested have been provisioned

In [3]:
#import dataset
from azureml.data.dataset_factory import TabularDatasetFactory
Data_URL= "https://github.com/jfcarmonag/Capstone_AZMLND/raw/master/starter_file/BankChurners.csv"
ds=TabularDatasetFactory.from_delimited_files(path=Data_URL)
# choose a name for experiment
experiment_name = 'exp-capstone'
experiment=Experiment(ws, experiment_name)

In [12]:
import pandas as pd
from train import clean_data
from azureml.train.automl import AutoMLConfig

# Use the clean_data function to clean your data.
x, y = clean_data(ds)
complete_data = pd.concat([x, y], axis=1)

complete_data

,Customer_Age,Gender_M,Gender_F,Dependent_count,Education_Level,Married,Unknown,Divorced,Single,Income_Category,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag
0,45,1,0,3,1,1,0,0,0,3,...,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0
1,49,0,1,5,3,0,0,0,1,1,...,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0
2,51,1,0,3,3,1,0,0,0,4,...,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0
3,40,0,1,4,1,0,1,0,0,1,...,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0
4,40,1,0,3,0,1,0,0,0,3,...,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,1,0,2,3,0,0,0,1,2,...,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0
10123,41,1,0,2,Unknown,0,0,1,0,2,...,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,1
10124,44,0,1,1,1,1,0,0,0,1,...,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,1
10125,30,1,0,2,3,0,1,0,0,2,...,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,1
10126,43,0,1,2,3,1,0,0,0,1,...,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,1

## AutoML Configuration

TODO: Explain why you chose the automl settings and cofiguration you used below.

- Since the dataset is unbalanced (HOW), F1-score is appropriate given that it takes into account both precision and recall.

In [18]:
import pandas as pd
from train import clean_data
from azureml.train.automl import AutoMLConfig

# Use the clean_data function to clean your data.
x, y = clean_data(ds)
complete_data = pd.concat([x, y], axis=1)

# TODO: Put your automl settings here
automl_settings = {
       "n_cross_validations": 3,
       "primary_metric": 'accuracy',
       "enable_early_stopping": True,
       "experiment_timeout_hours": 1.0,
       "max_concurrent_iterations": 4,
       "max_cores_per_iteration": -1,
       #"verbosity": logging.INFO,
   }
# TODO: Put your automl config here
automl_config = AutoMLConfig(task = 'classification',
                               #compute_target = compute_target,
                               training_data = complete_data,
                               label_column_name = "Attrition_Flag",
                               **automl_settings
                               )

In [19]:
# TODO: Submit your experiment
remote_run = experiment.submit(automl_config)

WARNING - Running on local machine. Note that local runs always run synchronously even if you use the parameter 'show_output=False'

## Run Details

OPTIONAL: Write about the different models trained and their performance. Why do you think some models did better than others?

TODO: In the cell below, use the `RunDetails` widget to show the different experiments.

In [ ]:
from azureml.widgets import RunDetails
RunDetails(remote_run).show()
remote_run.wait_for_completion(show_output=True)

## Best Model

TODO: In the cell below, get the best model from the automl experiments and display all the properties of the model.

In [ ]:
best_run, best_model = remote_run.get_output()

In [ ]:
#TODO: Save the best model
best_run.register_model(model_name = "model.pkl", model_path = './outputs/')

## Model Deployment

Remember you have to deploy only one of the two models you trained.. Perform the steps in the rest of this notebook only if you wish to deploy this model.

TODO: In the cell below, register the model, create an inference config and deploy the model as a web service.

TODO: In the cell below, send a request to the web service you deployed to test it.

TODO: In the cell below, print the logs of the web service and delete the service